
<!--MY CART NAV: back button / page title-->
<nav class="navbar cl-grey-navbar fixed-top">
  <div class="container-fluid">
    <a (click)="backOnePage()" class="navbar-link ">
      <span class="cl-text-white fas fa-chevron-left"></span>
    </a>

    <span class="cl-text-white navbar-brand mb-0 h5 mr-auto cl-header-padding">
      Cart
    </span>
  </div>
</nav>

<!--List of part in my cart-->
<!--TODO:change so that each part is ordered individually instead of all of them-->
<main>
  <div class="container above-below-space">
    <ul class="list-group list-borderless">
      <li class="list-group-item list-borderless" *ngFor="let part of parts">
        <!--Route to the part listing-->
        <a routerLink="/user/{{userId}}/part/{{part._id}}/listing">{{part.name}}</a>
        <!--Remove the part from your cart-->
        <a (click)="removeFromCart(part._id, part.name)"><i class="far fa-minus-square float-right"></i></a>
      </li>
    </ul>
  </div>
</main>

<div class="container">
  <a class="btn save-btn-color btn-block" (click)="orderThisPart()">Order!</a>
</div>


<!--NAVBAR: profile-->
<!--TODO: maybe make a function to route back to the users profile page-->
<nav class="navbar fixed-bottom cl-grey-navbar">
  <div class="container-fluid">
    <a class="align-right fas fa-user fa-inverse fontawesome_icon cl-icon-padding" [routerLink]="['../../' + userId]">
    </a>
  </div>
</nav>

