
<body>

<div class="jumbotron text-center jumboHeaderImg">
  <h1>Spare Parts Garage</h1>
  <p>Find all the old parts you cant get anywhere else!</p>
</div>

<!--Inside a bootstrap container-->
<div class="container">
  <!--All of this on one row-->
  <div class="row">

    <div class="col-sm-4 text-center">
      <h3>
        <a routerLink="/login" class="homePageColor">
          Login
        </a>
      </h3>
      <p>Please login her with your credentials</p>
    </div>
    <div class="col-sm-4 text-center">
      <h3>
        <a routerLink="/register" class="homePageColor">
          Register
        </a>
      </h3>
      <p>Please register here for new users</p>
    </div>
    <div class="col-sm-4 text-center">
      <h3>
        <a routerLink="/profile" class="homePageColor">
          Profile
        </a>
      </h3>
      <p>Return to your profile page</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center homePageColor">
      <hr/>
      <p>Join a large community of automotive enthusiasts that are buying and selling old and vintage car and motorcycle
        parts. If you have been searching for that hard to find part, look no further. We have thousands of parts listed
        by enthusiasts just like yourself who just might have that elusive part you have been desperately needing to finish
        you build.
      </p>
    </div>
  </div>

</div>
