<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StoreFront</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css"/>

</head>

<body>
<nav class="navbar cl-grey-navbar fixed-top">
  <div class="container-fluid">
    <a (click)="backOnePage()" class="navbar-link ">
      <span class="cl-text-white fas fa-chevron-left"></span>
    </a>
    <a class="cl-text-white navbar-brand mb-0 h5 cl-header-padding" href="#">
      All Stores
    </a>
  </div>
</nav>

<main>
  <div class="container above-below-space">
    <ul class="list-group list-borderless">
      <li class="list-group-item list-borderless" *ngFor="let store of stores">
        <a routerLink="/user/{{userId}}/store/{{store._id}}">{{store.name}}</a>
      </li>
    </ul>
  </div>
</main>

<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid">
    <a class="align-right fas fa-user fa-inverse fontawesome_icon cl-icon-padding" [routerLink]="['../../' + userId]">
    </a>
  </div>
</nav>

</body>
</html>

