<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StoreFront</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css"/>

</head>

<body>
<nav class="navbar cl-grey-navbar fixed-top">
  <div class="container-fluid">
    <a routerLink="../" class="navbar-link ">
      <span class="cl-text-white fas fa-chevron-left"></span>
    </a>
    <a class="cl-text-white navbar-brand mb-0 h5 cl-header-padding" href="#">
      New Part
    </a>
    <a (click)="newPart()" class="navbar-link cl-text-white">
      <span class="cl-text-white fas fa-check fontawesome_icon cl-icon-padding"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form #f="ngForm">
    <div class="form-group">
      <label for="partname" class="font-weight-bold">Name</label>
      <input id="partname"
             name="partName"
             type="text"
             class="form-control"
             placeholder="Part Name"
             ngModel
             required
             #partName="ngModel">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="partdescription" class="font-weight-bold">Description</label>
      <input id="partdescription"
             name="partDescription"
             type="text"
             class="form-control"
             placeholder="Part Description"
             ngModel
             #partDescription="ngModel">
    </div> <!-- form-group// -->

    <div class="form-group">
      <label for="partprice" class="font-weight-bold">Price</label>
      <input id="partprice"
             name="partPrice"
             type="text"
             class="form-control"
             placeholder="Part Price"
             ngModel
             #partPrice="ngModel">
    </div> <!-- form-group// -->
  </form>
</div>


<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fluid">
    <a class="align-right fas fa-user fa-inverse fontawesome_icon cl-icon-padding" (click)="backOnePage()">
    </a>
  </div>
</nav>

</body>
</html>
